{% extends "base.html" %}

{% block metatags %}
{% endblock %}

{% block contents %}

<div class="container">
	<div class="row text-center">
		<div class="col-12">
			<h2 class="mb-5">Error 404</h2>
			<p class="h3 mb-0">Not Found</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-12">
			<h2 class="mb-5">Sorry, the page you requested was not found.</h2>
			<p class="mb-0">This page might have been moved, updated or deleted.</p>
			<p>Please visit the <a href="{{ url_for('bl_ubroker.summary') }}">Summary</a> page.</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-12">
			<div class="imgHolder">
				<img style="max-width: 50%;" src="{{ url_for('static',filename='img/error404.webp') }}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>

{% endblock %}
