<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link {{ mc['summary'] }}" aria-current="page" href="{{ url_for('bl_ubroker.summary') }}">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ mc['monitors'] }}" href="{{ url_for('bl_ubroker.monitors') }}">Monitors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ mc['rules'] }}" href="{{ url_for('bl_ubroker.rules') }}">Rules</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ mc['status'] }}" href="{{ url_for('bl_ubroker.status') }}">Status</a>
  </li>
</ul>